/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:1.8;
      background-color: #EFEFEF;
}
a:hover { text-decoration: none }
.row{margin-bottom: 30px;}
/* Base CSS */
.flip-area {
      padding: 50px 0;
}
.flip-box-tabelcell {
    display: table-cell;
    vertical-align: middle;
}
.flip-box-service {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-bottom: 4px solid #212529;
    height: 100%;
    display: table;
    width: 100%;
}
.back .flip-box-service {
    background: #282828;
    color: #fff;
}

.flip-box-service h3 {
    font-weight: 400;
}

.flip-box-service i.fas,.flip-box-service i.fab  {
    font-size: 100px;
    margin-bottom: 40px;
   
}

/*flip 3d Css start*/

.flib-box {
    margin: 0 auto;
     height: 300px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.flib-box .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        width: 100%;
}

.flib-box .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            width: 100%;
}
.flib-box.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.flib-box.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
/*flip 3d Css start*/